input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.671) ;
}

.formInputs{
    display: flex;
    flex-direction: column;
    margin-inline:20px;
    width: 280px;
}

label{
    font-size: 14px;
    color: gray;
}

span{
    font-size: 13px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}


input:invalid[focused="true"] ~ span{
    display: block;
}